<!DOCTYPE html>
<html>

<head>
  <title>BISU</title>
  <link rel="stylesheet" href="../assets/css/styles.css" />
  <link rel="icon" type="image/png" href="../assets/images/bisuicon.png" />

</head>

<body>
  <main id="main">
    <img class="logomaior" src="../assets/images/BISU.png">
    <h1 id="title">Boldo: benefícios, como usar e efeitos colaterais</h1><br>
    <ul>O boldo é uma planta muito utilizada para ajudar a tratar problemas do fígado, devido às
      suas propriedades digestivas e hepáticas. No entanto, também possui propriedades
      diuréticas, anti-inflamatórias e antioxidantes, que podem ajudar no tratamento e
      prevenção de gastrite, aterosclerose e câncer.<br><br>

      <img id="surde" src="../assets/images/boldo imagem 1.jpg" alt="composteira">
      <p>Embora tenha diversos benefícios para a saúde, o boldo também pode causar efeitos
        colaterais, principalmente quando é consumido em excesso ou por mais de 30 dias, além
        de ser contra-indicado para algumas pessoas. Por isso, o uso da planta deve ser feito
        com orientação de um médico ou outro profissional de saúde com experiência no uso de
        plantas medicinais.</p>

    </ul>
    <figure id="img-div">

      <ul>
        <figcaption id="">
          <p><strong>Os benefícios do boldo dependem da espécie utilizada, e incluem:</strong>
          <p><strong>Estimular o funcionamento do fígado:</strong>
            A boldina, um antioxidante presente especialmente no boldo do Chile, e a forscolina e a
            barbatusina, presentes no boldo brasileiro, estimulam a produção da bile pelo fígado,
            ajudando no seu funcionamento.
            Além disso, os antioxidantes da planta atuam como protetores do fígado em casos de
            esteatose hepática, que é o excesso de gordura no fígado, prevenindo sintomas como dor
            de cabeça, náuseas e mal estar.</p>



          <p><strong>Ajuda na perda de peso:</strong> flavonoides glicosilados, um dos componentes do boldo do Chile,
            são os responsáveis
            pela ação diurética desta planta, ajudando a diminuir o excesso de líquido corporal,
            sendo uma boa opção para os tratamentos de perda de peso.</p>

          <p><strong>Auxilia no tratamento de problemas na vesícula</strong>
            O boldo estimula a liberação de bile, um composto que ajuda na digestão dos alimentos,
            pela vesícula biliar. Por isso, esta planta pode auxiliar no tratamento de alguns problemas
            da vesícula biliar. Além disso, o boldo ajuda a normalizar o funcionamento da vesícula
            biliar.
            Nestes casos, o boldo deve ser usado apenas com supervisão de um profissional de
            saúde, já que dependendo da gravidade e do tipo do problema, o boldo também pode ser
            contraindicado.<br>


            <strong>Melhorar a digestão:</strong> boldo do Chile e o boldo brasileiro ajudam a melhorar a digestão e a
            diminuir os gases,
            principalmente quando tomado na forma de chá antes ou logo após as refeições. Além
            disso, a boldina melhora a ação da bile que é liberada pela vesícula no intestino,
            auxiliando na digestão de gorduras e no alívio da má digestão.<br>

            <strong>Auxiliar no tratamento da gastrite:</strong> alcalóides presentes nos dois tipos de boldo ajudam a
            equilibrar os ácidos do
            estômago, podendo ser muito útil para auxiliar no tratamento da gastrite. Além disso, as
            propriedades adstringentes do boldo reduzem a acidez do estômago, auxiliando também
            no tratamento da azia.<br>

            <strong>Aliviar os sintomas da intolerância alimentar:</strong> boldo tem propriedades digestivas,
            antiinflamatórias e anti-espasmódicas que podem
            ajudar a aliviar os sintomas de algumas intolerâncias alimentares como má digestão,
            cólicas intestinais e produção excessiva de gases.<br>

            <strong>Melhorar o funcionamento do intestino:</strong> boldina, um alcalóide presente no boldo do Chile,
            age como relaxante regulando o
            funcionamento do intestino, o que pode ser útil para tratar a prisão de ventre. Além disso,
            o boldo reduz a produção de gases intestinais e auxilia no tratamento de vermes e
            infecções intestinais.<br>

            <strong>Eliminar fungos e bactérias:</strong> boldo pode auxiliar a eliminar bactérias como:
            Streptococcus pyogenes que causa infecção de garganta ou erisipela, por
            exemplo;
            Staphylococcus aureus que causam infecções pulmonares, de pele e ósseas.
            Além disso, o óleo essencial do boldo do Chile tem atividade antifúngica principalmente
            para o fungo Candida sp que pode causar micose de pele. No entanto, o boldo não deve
            substituir nenhum antibiótico e só deve ser usado sob orientação de um médico.<br>

            <strong>Ter ação antioxidante:</strong>>O boldo é rico em compostos fenólicos como polifenóis e alcaloides,
            principalmente a
            boldina no boldo do Chile, o ácido rosmarínico, a barbatusina e a forscolina presentes no
            boldo brasileiro, que possuem ação antioxidante, combatendo os radicais livres e
            reduzindo os danos nas células.
            Assim, o boldo ajuda a retardar o envelhecimento precoce, além de prevenir doenças
            causadas pelo excesso de radicais livres, como Alzheimer, aterosclerose e câncer.<br>

            <strong>Melhorar a ressaca:</strong> boldo ajuda a limpar o acetaldeído que é uma substância produzida pelo
            fígado após o
            consumo de bebida alcoólica e é o principal responsável pelos sintomas de ressaca como
            boca seca, dor de cabeça e mal estar geral. Além disso, a boldina age como protetor do
            fígado, ajudando a restabelecer esse órgão.
            11. Ter efeito calmante
            O boldo é uma planta aromática, com cheiro parecido ao da hortelã, tendo efeito calmante
            e relaxante quando usado na forma de chá ou banho de imersão
          </p>



        </figcaption>



        <h3>

          <a id="tribute-link" href="https://www.tuasaude.com/beneficios-do-cha-de-boldo/" target="_blank">post
            adaptado, clique para ver o original</a>.
        </h3>
        <a href="../index.html" class="back-button">Voltar</a>
        </section>

  </main>
  <!-- Botão "Voltar ao Topo" -->
  <button id="btnVoltarAoTopo" title="Voltar ao Topo">↑</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="main.js"></script>
</body>


</html>