<!DOCTYPE html>
<html>
  <head>
    <title>BISU</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="icon" type="image/png" href="../assets/images/bisuicon.png"/>
  </head>
  <body>
    <main id="main">
      <h1 id="title">Capim-santo (capim-limão): para que serve e como usar</h1><br>
      <ul>O capim-santo, também conhecido como capim-limão, capim-cheiroso ou capim-cidreira,
        é uma planta medicinal rica em citral, limoneno e geraniol, compostos bioativos com ação
        antioxidante, que combatem o excesso de radicais livres e ajudam a prevenir situações,
        como câncer, gastrite e pressão alta.<br><br>
        
        <img
        id="surde"
        src="../assets/images/capim santo imagem 1.jpeg"
        alt="composteira"
      >
      <p>O capim-santo tem um aroma parecido com o limão e pode ser encontrado na forma
        fresca ou seca, em feiras e supermercados, sendo usado no preparo de chás,
        compressas, sucos, bolos ou geleias. Já o óleo essencial da planta é comercializado em
        lojas de produtos naturais e pode ser usado como cicatrizante.</p>
      
      </ul>
      <figure id="img-div">
       
        <ul>
        <figcaption id="">
          <strong>Pricipais benefícios</strong>
       
          <p>
           <strong>Ajudar na perda de peso:</strong> Por possuir propriedades diuréticas, o capim-santo promove a eliminação do excesso de
            líquido corporal, diminuindo o inchaço da barriga, sendo uma opção interessante para
            incluir em dietas de perda de peso.
            <br><br>
            <strong>Ajudar no tratamento da gastrite:</strong> capim-santo pode auxiliar no tratamento da gastrite, porque contém ótimas quantidades
            de flavonoides e taninos, compostos com ação antioxidante e anti-inflamatória,
            neutralizando e diminuindo a acidez no estômago e ajudando no tratamento do refluxo e
            da gastrite.
            Além disso, o capim-santo também contém propriedade bactericida, ajudando no
            tratamento contra Helicobacter pylori, uma bactéria que vive no estômago e causa
            gastrite, úlcera péptica e até alguns tipos de câncer.
            <br><br>
            
            <strong>Aliviar dores:</strong>Por conter mirceno e citral, compostos bioativos com propriedades analgésicas, o
            capim-santo ajuda no tratamento de dores, como dor de cabeça, dor muscular, dor de
            barriga e reumatismo.<br><br>

            <strong>Diminuir colesterol LDL:</strong>O capim-santo é rico em antioxidantes, como limoneno e geraniol, que combatem os
            radicais livres, impedindo a oxidação das células de gordura, ajudando a diminuir os
            níveis de colesterol “ruim”, o LDL, e triglicerídeos no sangue e prevenindo doenças, como
            derrame, infarto e aterosclerose.<br><br>
            
            <strong>Auxiliar no controle da pressão arterial:</strong>Por ter propriedades diuréticas, o capim-santo ajuda a eliminar o excesso de sódio pela
            urina, auxiliando no controle da pressão arterial.
            Além disso, os compostos antioxidantes e anti-inflamatórios presentes no capim-santo,
            como citral, limoneno e geraniol, diminuem a inflamação e promovem o relaxamento das
            artérias, melhorando a circulação de sangue e prevenindo a pressão alta.<br><br>
            
            <strong>Prevenir o câncer:</strong>O capim-santo é uma planta medicinal rica em antioxidantes, que ajudam a fortalecer o
            sistema imunológico, prevenindo o crescimento e o desenvolvimento de células
            cancerígenas.<br><br>
          
            <strong>Combater insônia e ansiedade:</strong>O capim-santo contém compostos com ação sedativa, como o citral, que atua no sistema
            nervoso central, melhorando o tempo e a qualidade do sono.
            Além disso, o capim-santo também possui ação calmante e relaxante, podendo ser
            indicado para auxiliar no tratamento da ansiedade e estresse.<br><br>
            
            <strong>Promover a cicatrização de feridas:</strong> óleo essencial de capim-santo tem potente ação anti microbiana e, por isso, pode ser
            aplicado na pele para melhorar a cicatrização de feridas.<br><br>
            
            <strong>Auxiliar no tratamento da candidíase:</strong> capim-santo contém propriedade fungicida, ajudando a combater a Candida albicans,
            um tipo de fungo responsável pela candidíase vaginal e oral.
            Além disso, o capim-santo também pode ser usado para auxiliar no tratamento de outros
            tipos de contaminação por fungos, como a micose e o pé de atleta.<br><br>
            
            <strong>Combater o mau hálito:</strong> ter ação bactericida e antisséptica, o capim-santo pode se usar em preparações como
            chás ou enxaguante bucal natural para combater o mau hálito causado por gengivite, uma
            inflamação na gengiva causada pelo acúmulo de bactérias entre os dentes.<br><br>
            
            <strong>Afastar os insetos:</strong> O capim-santo também pode ser utilizado para afastar os insetos por causa do seu cheiro,
            que é irritante para mosquitos e moscas.<br><br>
            <strong>Como usar</strong>
            <br>
            
            O capim-santo pode ser usado para o preparo de chás e sucos, ou na forma de
            compressas. Além disso, o óleo essencial de capim-santo também pode ser aplicado na
            pele para tratar feridas e micoses.
            Compressa de capim-santo: mergulhar um pedaço de gaze ou pano limpo no chá
            de capim-santo e aplicar sobre a ferida ou região dolorida. Deixar atuar por pelo
            menos 15 minutos;<br>
            <strong>Óleo essencial de capim-santo:</strong> misturar 3 gotas do óleo essencial em 1 colher
            de sopa de óleo vegetal, como coco, jojoba ou azeite, e aplicar sobre a micose ou
            ferida. Deve-se evitar a exposição ao sol por até 6 horas após a aplicação deste
            óleo, para evitar irritação na pele.
            O óleo essencial de capim-santo também pode ser usado como repelente de insetos ou
            aromatizante de ambientes, bastando apenas adicionar de 3 a 5 gotas desse óleo em um
            difusor.
            Além disso, o capim-santo também pode ser usado em algumas preparações culinárias,
            como sucos, bolos, geleia e sorvetes.<br><br>
            <strong>Como preparar o chá de capim-santo</strong>
            O chá de capim-santo é fácil de fazer e pode ser consumido 3 a 4 vezes ao dia.
            Ingredientes:
            <li>1 colher de sopa de folhas frescas de capim-santo;</li>
            <li>1 xícara de água fervente.</li><br>
            <strong>Modo de preparo:</strong><br>
            Colocar as folhas frescas picadas numa xícara e cobrir com água fervente. Tampar, deixar
            descansar por 5 a 10 minutos, coar e beber em seguida.
            Possíveis efeitos colaterais
            O consumo do capim-santo pode causar tontura, sono, fraqueza, enjoo, boca seca e
            pressão baixa, podendo causar desmaio.
            Quando não é indicado
            O uso do capim-santo não é indicado para mulheres que estejam grávidas ou
            amamentando. Assim como não pode ser usado por crianças com menos de 18 anos,
            pessoas com doenças no coração, rins ou fígado.
            Além disso, pessoas que usam medicamentos com efeito calmante e para controlar a
            pressão arterial, devem consultar um médico antes de consumir o capim-santo.
          
          
          </p>       
        </figcaption>
      <ul><p>


      </p></ul>

        
        <h3>
        
          <a
            id="tribute-link"
            href="https://www.tuasaude.com/capim-limao/"
            target="_blank"
            >post adaptado, clique para ver o original</a
          >.
        </h3>
      </section>
    </main>
  </body>
</html>
