<!DOCTYPE html>
<html>
  <head>
    <title>BISU</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="icon" type="image/png" href="../assets/images/bisuicon.png"/>
  </head>
  <body>
    <main id="main">
      <h1 id="title">Como plantar cheiro verde</h1><br>
      <ul>Para quem está à procura de um passatempo saudável e que ainda possa trazer
        benefícios, a jardinagem é um ótimo exemplo. Porém, se você é novato no assunto e não
        sabe por onde começar, que tal acompanhar nosso guia de como plantar cheiro verde?
        
        <img
        id="surde"
        src="../assets/images/cheiro verde imagem 1.jpg"
        alt="composteira"
      >
      
      
      </ul>
      <figure id="img-div">
       
        <ul>
        <figcaption id="">
         <p><strong>Preparando o vaso:</strong>
          
        
          
          <li>O primeiro passo é escolher um bom recipiente para realizar um plantio. Para
            isso, você pode utilizar um vaso de cerâmica ou de plástico, mas que tenha um
            furo na base;</li>
          <li>Após a escolha do vaso, é hora de fazer a drenagem. Na base do recipiente,
            coloque cacos de telhas ou isopor para que as raízes da planta não se desenvolva
            por completo no vaso;</li>
          <li>Logo em seguida, coloque uma camada de drenagem, que pode ser de pedras de
            argila, brita ou seixo;</li>
          <li>Acima dela, uma camada de manta, que pode ser feito de TNT ou feltro garden;</li>
          <li>Por último, adicione a terra com adubo.</li></p>
        </ul>
           
                    
        </figcaption>
      </figure>
      <section id="tribute-info">
        <h3 id="headline">Plantio do cheiro verde</h3>
        
        <ul>
          <p>Você pode optar por dois métodos de plantio do cheiro verde, por sementes ou por talos
            adquiridos no mercado.
            </p>
            <strong>Sementes:</strong>
          <li>Após o preparo da terra e do vaso, coloque as sementes no vaso, mas deixe um
            espaço entre elas. Não as coloque muito próximas uma da outra;
            </li>
          <li>
            Regue as sementes de modo que sempre deixe o solo úmido, mas não
encharcado. 2 vezes ao dia é uma boa quantidade;

          </li>
          <li>
            Prefira deixar o vaso com as sementes em um local com boa incidência de sol.

          </li>
          <li>
            Após 75 dias de cultivo, você já pode começar a podar sua planta para utilizá-la em
receitas. Para isso, utilize uma tesoura especial.
          </li>
          <strong>Talos:</strong>
          <li>Após a preparação do vaso, faça buracos na terra e insira as raízes da planta
            dentro;
            </li>
            <li>Regue a planta 2 vezes ao dia e coloque-a em um local onde a luz solar está
              presente;
              </li>
            <li> Quando observar que a sua planta começou a desenvolver novos talos, você já
              pode podá-la.</li>
           
        </ul>

<ul><h3 id = headline><strong>Cuidados com sua planta</strong></h3>


  Viu como o plantio de cheiro verde não exige muitos desafios? Porém, para que sua
  planta consiga crescer forte, é importante que você tome alguns cuidados.
  Antes de tudo, lembre que o cheiro verde precisa de luz solar para seu desenvolvimento
  e também de água. Se preferir, você pode colocar palha em cima da camada de terra no
  vaso. Desse jeito, o solo ficará mais tempo úmido.
  Também não se esqueça de nutrir sua planta com adubo. A cada mês, adicione uma
  nova camada de nutrientes.
  Entretanto, não se esqueça que o cheiro verde se desenvolve nas épocas com clima
  mais temperado, como primavera e verão <br>
            
    
    </ul>

        
        <h3>
        
          <a
            id="tribute-link"
            href="https://blog.cobasi.com.br/como-plantar-cheiro-verde/#:~:text=Regue%20as%20sementes%20de%20modo,para%20utiliz%C3%A1-la%20em%20receitas"
            target="_blank"
            >post adaptado, clique para ver o original</a
          >.
        </h3>
      </section>
    </main>
  </body>
</html>
