<!DOCTYPE html>
<html>
  <head>
    <title>BISU</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="icon" type="image/png" href="../assets/images/bisuicon.png"/>
  </head>
  <body>
   
    <main id="main">
      <img class="logomaior" src="../assets/images/BISU.png">
      <h1 id="title">Composteira caseira</h1><br>
      <ul>A composteira doméstica é uma solução sustentável, simples e barata para dar destino correto aos
        resíduos orgânicos da cozinha.</ul>
      <figure id="img-div">
       
        <ul>
        <figcaption id="">
         <p><strong>Materiais:</strong>
          <li>3 baldes de plástico com tampa. Os de gordura vegetal são ótimas opções e podem ser encontrados
           em qualquer panificadora;</li>
          <li>1 kit torneira;</li>
          <li>1 furadeira ou retífica;</li>
          <li>1 meia calça de nylon ou uma tela qualquer de malha bem fina;</li>
          <li>Minhocas.</li></p>
        </ul>
           
                    
        </figcaption>
      </figure>
      <section id="tribute-info">
        <h3 id="headline">Como construir a composteira:</h3>
        
        <ul>
          <li>Para entender melhor as instruções de montagem, numere os baldes de 1 a 3. Depois que a
            composteira estiver pronta, eles serão empilhados.</li>
          <li>
            Faça vários furos nas laterais superiores dos baldes 1 e 2 para que o ar consiga entrar e sair.
          </li>
          <li>
            Faça vários furos no fundo dos baldes 1 e 2.
          </li>
          <li>
            Faça, ainda, um recorte circular nas tampas dos baldes 2 e 3 para que o chorume escorra de um
balde para o outro.
          </li>
          <li>Fixe uma meia calça ou tela entre a tampa e a boca do balde 3 para que as minhocas não caiam no
            chorume.</li>
            <li>Instale a torneira na lateral do balde 3, próxima ao fundo. É por ela que será coletado o chorume.</li>
            <img
          id="surde"
          src="../assets/images/imagem 1 composteira.jpg"
          alt="composteira"
        ></ul>

<ul><p><strong>O que colocar na composteira:</strong>


           Restos de frutas e verduras, borra de café com o papel-filtro, restos de
            pães (umedecer antes), galhos finos, folhas, flores de jardins e grama cortada, cascas de ovo, de
            preferência moídas, papelão do rolo de papel higiênico, guardanapos usados, sem resíduos de carne,
            sabugo de milho em pedaços (ajuda a oxigenar o meio). <br>
            <strong>O que não colocar na composteira:</strong> Resíduos de carne, restos de queijo, fezes de cachorro, papel higiênico.<br>
          <strong>Evite colocar na composteira:</strong> Cascas de frutas cítricas, folhas de jornal coloridas, alimentos
          temperados com sal ou açúcar.<br>
      </p>
    </ul>

           
         <h3><strong><center>Como usar e abastecer a composteira:</center></strong></h3>
        
         
         
         
        <ul>
          <li>Balde 1: recebe resíduos orgânicos e matéria seca</li>
          <li>Balde 2: composto sólido</li>
          <li>Balde 3: composto líquido</li>
        </ul>
          <ul>
        <p>Empilhe os baldes na ordem numérica, com o número 1 no topo. Os baldes 1 e 2 trocam de posições
          ao longo do processo e o 3 fica sempre fixo na base.
          No balde 1, coloque as minhocas, juntamente com o substrato em que elas estão envoltas. Esse
          procedimento protege as minhocas do contato direto com alimentos que ainda não estão em fase de
          decomposição, criando um ambiente confortável para elas.
          Em seguida, coloque no balde 1 os resíduos orgânicos da cozinha (que são ricos em nitrogênio) e
          adicione uma camada de material vegetal seco (que são ricos em carbono), como grama cortada e
          folhas secas. As camadas de diferentes materiais garantem uma boa relação carbono/nitrogênio. Uma
          boa proporção é um volume de três partes de materiais ricos em carbono para uma parte de materiais
          ricos em nitrogênio. Esses dois materiais serão adicionados aos poucos, até encher o balde 1. A
          composteira deve ser abastecida diariamente ou a cada dois dias.
          Quando o balde 1 estiver cheio, ele troca de lugar com o balde 2, que estará vazio (depois que o adubo
          for retirado), pronto para começar o mesmo procedimento que foi feito no balde 1. Apesar de as
          minhocas se deslocarem de um balde para outro pelos orifícios, nesse momento é recomendado
          colocá-las no balde de cima com um pouco de substrato.
          A composteira doméstica deve ficar em um lugar arejado, protegido da chuva e do sol.</p>
        </ul>
        
          <h3 id="headline">Como usar o adubo e o chorume:</h3>
          <ul><p>O conteúdo formado nos baldes 1 e 2, depois da completa decomposição, é um adubo natural que
            pode ser usado em jardins e hortas. O tempo para os resíduos orgânicos de cozinha serem
            transformados em composto varia de 45 a 60 dias. Esse prazo depende do tipo e da quantidade de
            resíduos utilizados, da quantidade de minhocas, da temperatura, da umidade, etc.</p></ul>
          <center>  <img id="surde" src="../assets/images/imagem 2 composteira.jpg" alt="composteira2"></center> 
        <ul><p>Uma maneira simples de verificar se o composto está pronto para ser usado é observar se o conteúdo
          se tornou uma massa uniforme, sem cheiro, e sem que nenhum resíduo de alimento consiga ser
          identificado. Esse composto pode ser aplicado no solo, como adubo.
          Enquanto os restos de matéria orgânica se decompõem, um líquido escuro vai sendo armazenado no
          balde 3. Esse líquido é o chorume, um poderoso fertilizante natural para as plantas, que é retirado pela
          torneira do balde 3.
          O chorume pode ser utilizado diretamente no solo, em fruteiras e canteiros de hortas. Deve ser diluído
          em água (1 medida de chorume para 10 de água). Pode ser aplicado semanalmente ou
          quinzenalmente.</p></ul>
       
        
       
        <h3>
        
          <a
            id="tribute-link"
            href="https://www.epagri.sc.gov.br/index.php/2021/04/09/como-fazer-uma-composteira-domestica-epagri-ensina-o-passo-a-passo/"
            target="_blank"
            >post adaptado, clique para ver o original</a
          >.
        </h3>
      </section>
      <a href="../index.html" class="back-button">Voltar</a>
    </main>

  </body>
</html>
