<!DOCTYPE html>
<html>
  <head>
    <title>BISU</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="icon" type="image/png" href="../assets/images/bisuicon.png"/>
  </head>
  <body>
    <main id="main">
      <h1 id="title">Erva-cidreira: 10 benefícios e como fazer o chá</h1><br>
      <ul>A erva-cidreira é a planta medicinal Melissa officinalis, também conhecida como cidreira
ou melissa, que é rica em compostos fenólicos e flavonoides com propriedades
calmantes, sedativas, relaxantes, antiespasmódicas, analgésicas, anti-inflamatórias e
antioxidantes, sendo muito utilizada para tratar vários problemas de saúde, especialmente
problemas digestivos, de ansiedade e estresse.<br><br>
        
        <img
        id="surde"
        src="../assets/images/erva cidreira imagem 1.jpg"
        alt="composteira"
      >
   
      
      </ul>
      <figure id="img-div">
       
        <ul>
        <figcaption id="">
          <strong>Pricipais benefícios</strong>
       
          <p>
            <strong>Melhora a qualidade do sono:</strong> A erva cidreira possui compostos fenólicos na sua composição, como o ácido rosmarínico,
           que tem propriedades calmantes e sedativas, o que pode ser útil para combater a insônia
           e melhorar a qualidade do sono.
           Além disso, alguns estudos mostram que tomar chá de erva cidreira duas vezes ao dia
           por 15 dias melhora o sono em pessoas com insônia e que a combinação de erva-cidreira
           e valeriana pode ajudar a aliviar a inquietação e os distúrbios do sono.
            <br><br>
            <strong>Combate a ansiedade e estresse:</strong> A erva cidreira ajuda a combater a ansiedade e o estresse por possuir ácido rosmarínico
            na sua composição que age aumentando a atividade de neurotransmissores no cérebro,
            como o GABA, que contribui para a sensação de relaxamento do corpo, de bem-estar e
            tranquilidade e diminuição dos sintomas de ansiedade como agitação e nervosismo.
            Alguns estudos mostram que tomar uma única dose de erva-cidreira aumenta a calma e o
            estado de alerta em adultos sob estresse mental, e que tomar cápsulas contendo 300 a
            600 mg de erva-cidreira três vezes ao dia, reduz os sintomas de ansiedade.
            <br><br>
            
            <strong>Aliviar dores de cabeça:</strong>A erva-cidreira também pode ser útil no tratamento de dores de cabeça, especialmente se
            ocorrerem como resultado de estresse. Por conter ácido rosmarínico, propriedades
            analgésicas, relaxantes e anti-inflamatórias podem ajudar a relaxar os músculos, liberar a
            tensão e relaxar os vasos sanguíneos tensos, o que pode contribuir para o alívio das
            dores de cabeça.
            <br><br>

            <strong>Combate os gases intestinais:</strong> A erva cidreira contém citral, um óleo essencial, com ação antiespasmódica e carminativa,
            inibindo a produção de substâncias responsáveis por aumentar a contração do intestino, o
            que alivia a cólica e combate a produção de gases intestinais.
            Alguns estudos mostram que o tratamento com extrato de erva-cidreira pode melhorar a
            cólica de bebês em amamentação em 1 semana.
            <br><br>
            
            <strong>Alivia os sintomas da TPM:</strong> Por possuir compostos fenólicos na sua composição como o ácido rosmarínico, a erva
            cidreira ajuda a aliviar os sintomas da TPM por aumentar a atividade do neurotransmissor
            GABA no cérebro, o que melhora o estado de mal humor, nervosismo e ansiedade,
            associados à TPM.
            A erva cidreira por suas propriedades antiespasmódicas e analgésicas também ajuda a
            aliviar o desconforto das cólicas menstruais.
            Além disso, alguns estudos utilizando a cápsula de erva-cidreira, mostram que para
            reduzir os sintomas da TPM, deve-se tomar 1200 mg de erva-cidreira em cápsula
            diariamente.<br><br>
            
            <strong>Combate problemas gastrointestinais:</strong> A erva cidreira pode auxiliar o tratamento de problemas gastrointestinais como indigestão,
            dor de estômago, náuseas, vômitos, refluxo gastroesofágico e síndrome do intestino
            irritável, por exemplo, por conter o ácido rosmarínico na sua composição, além de citral,
            geraniol e beta-cariofileno, com ação anti-inflamatória, antioxidante, anti espasmódica e
            de eliminação dos gases intestinais, o que ajuda a aliviar os sintomas e o desconforto de
            problemas gastrointestinais.<br><br>
          
            <strong>Combate a herpes labial:</strong> Alguns estudos mostram que os ácidos cafeico, rosmarínico e felúrico presentes na erva
            cidreira possuem ação contra o vírus da herpes labial por inibir o vírus e impedir que se
            multiplique, o que previne a propagação da infecção, reduz o tempo de cicatrização e
            contribui para o efeito rápido sobre os sintomas típicos de herpes labial como coceira,
            formigamento, queimação, pontadas, inchaço e vermelhidão. Para esse benefício deve-se
            aplicar um batom contendo extrato de erva-cidreira nos lábios ao sentir os primeiros
            sintomas.
            Além disso, esses ácidos da erva cidreira também podem inibir a multiplicação do vírus do
            herpes genital. Entretanto, ainda são necessários estudos em humanos que comprovem
            esse benefício.
            <br><br>
            
            <strong>Elimina fungos e bactérias:</strong> Alguns estudos laboratoriais in vitro mostram que os compostos fenólicos como os ácidos
            rosmarínico, cafeico e cumárico presentes na erva cidreira são capazes de eliminar
            fungos, principalmente os fungos de pele, como a Candida sp. e bactérias como:
            <li>Pseudomonas aeruginosa que causam infecções pulmonares, infecções nos
              ouvidos e infecções urinárias;</li>
            <li>Salmonella sp que causam diarreia e infecções gastrointestinais;</li>
            <li>Escherichia coli que causa infecção urinária;</li>
            <li>Shigella sonnei que causa infecções intestinais;</li>
             No entanto, ainda são necessários estudos em humanos que comprovem esses
            benefícios.
            <br><br>
            
            <strong>Auxilia no tratamento do Alzheimer:</strong> Alguns estudos mostram que os compostos fenólicos da erva cidreira, como o citral,
            podem
            inibir a colinesterase, uma enzima responsável por degradar a acetilcolina que é um
            neurotransmissor cerebral importante para a memória. As pessoas com Alzheimer
            normalmente têm uma diminuição da acetilcolina, o que leva à perda de memória e
            diminuição da capacidade de aprendizado.
            Além disso, esses estudos indicam que tomar erva-cidreira por via oral por 4 meses pode
            reduzir a agitação, melhorar o raciocínio e reduzir os sintomas da doença de Alzheimer.
            <br><br>
            
            <strong> Tem ação antioxidante:</strong> A erva cidreira possui flavonoides e compostos fenólicos na sua composição,
            principalmente os ácidos rosmarínico e cafeico, que possuem ação antioxidante,
            combatendo os radicais livres e reduzindo os danos nas células. Assim, a erva cidreira
            pode auxiliar na prevenção de doenças associadas ao stress oxidativo causado pelos
            radicais livres como as doenças cardiovasculares. Entretanto, ainda ainda são
            necessários estudos em humanos.
            <br><br>
            
            
            <strong>Como usar</strong>
            <br>
            
            A erva cidreira pode ser consumida na forma de chás, infusões ou até mesmo em
            sobremesas, sendo fácil de preparar e muito saborosa.<br>
            <img
            id="surde"
            src="../assets/images/erva cidreira imagem 2.jpeg"
            alt="composteira"
          >
          Para fazer o chá de erva-cidreira é aconselhado usar somente as suas folhas, tanto secas
          como frescas, pois é a parte da planta que contém todas as propriedades benéficas para
          a saúde.<br>
          <strong>Ingredientes</strong><br>
          <li>1 colher (de sopa) de folhas de erva-cidreira;</li>
          <li>1 xícara de água fervente.</li>
        <strong>Modo de preparo</strong>
         Adicionar as folhas de erva-cidreira na água fervente, tampar e deixar repousar por alguns
          minutos. A seguir, coar e beber de 3 a 4 xícaras deste chá por dia.
          </p>       
        </figcaption>
      <ul><p>


      </p></ul>

        
        <h3>
        
          <a
            id="tribute-link"
            href="https://www.tuasaude.com/beneficios-do-cha-de-erva-cidreira/"
            target="_blank"
            >post adaptado, clique para ver o original</a
          >.
        </h3>
      </section>
    </main>
  </body>
</html>
