<!DOCTYPE html>
<html>
  <head>
    <title>BISU</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="icon" type="image/png" href="../assets/images/bisuicon.png"/>
  </head>
  <body>
    <main id="main">
      <h1 id="title">Como plantar pimenta-de-cheiro</h1><br>
      <ul>As pimentas são nativas de regiões mais quentes, e estudos contam que o primeiro
        registro de consumo no mundo foi há mais de 9 mil anos a.C. No Brasil, há relatos de que
        elas foram utilizadas primeiro pelos indígenas. Quem gosta dessa planta já deve ter se
        perguntado como plantar pimenta-de-cheiro.<br><br>
        
        <img
        id="surde"
        src="../assets/images/pimenta de cheiro imagem 1.jpg"
        alt="composteira"
      >
      
      
      </ul>
      <figure id="img-div">
       
        <ul>
        <figcaption id="">
         <p><strong>O que é pimenta-de-cheiro?</strong>
          <p>
            A pimenta-de-cheiro é muito encontrada nos seguintes estados: Bahia, Tocantins, Goiás e
            Minas Gerais. Quando ela está madura, a coloração é vermelha ou amarela, e a planta tem
            um grau de ardência médio. Essa opção é super cheirosa e possui 4 cm,
            aproximadamente. Normalmente, ela é utilizada como acompanhamento de feijoadas.
            A planta possui um formato arredondado. Além disso, quando ela é partida ao meio, é
            possível ver diversas sementes. Essa especiaria é muito utilizada na culinária, devido ao
            sabor marcante. Para quem deseja aproveitar os benefícios, aprender a plantar
            pimenta-de-cheiro vai ser ótimo</p>

        
          <strong>Como plantar pimenta-de-cheiro em vasos</strong>

          <p>Afinal, como plantar pimenta-de-cheiro no vaso? Saiba que essa planta é resistente e
            cresce muito bem em recipientes, não somente em canteiros. A plantação deve ser feita
            com sementes. É importante deixá-las secar ao sol por três dias antes de iniciar o plantio.
            Com a terra preparada, enterre a semente seca em um copo descartável, a uns 4 cm da
            superfície. Regue uma vez por dia até a germinação. Quando a planta brotar, é hora de
            transferi-la para um vaso maior, que pode ser de tamanho médio ou grande. Viu só como
            plantar pimenta-de-cheiro é simples?</p>

            <img
            id="surde"
            src="../assets/images/pimenta de cheiro imagem 2.jpg"
            alt="composteira"
          ><br>
          <strong>Cuidando da drenagem do vaso</strong>
          <p>Saber como plantar pimenta-de-cheiro também significa cuidar da drenagem do solo. Isso
            é importante para proteger a terra e as raízes contra um possível ressecamento. Além
            disso, esse cuidado preserva a vida no solo. Para fazer isso, é possível usar argila
            expandida.
            Ela serve como cobertura e decoração. O material também pode ser colocado por cima da
            terra para “forrá-la” ou despejado no fundo do vaso. Além de facilitar a drenagem, a argila
            expandida atua como uma reserva de nutrientes, facilitando a vida saudável no solo.
            </p>
            <strong>Colheita</strong>
            <p>A colheita pode ser feita de 60 a 120 dias após o crescimento das pimentas. Para isso, é
              importante verificar se a coloração indica o que a planta está madura. A pimenta-de-cheiro
              deve ser colhida quando estiver amarela ou vermelha. Normalmente, o processo ocorre
              anualmente.
              É importante lembrar que a forma mais segura de colher pimentas é com o uso de luvas,
              principalmente para espécies com ardência maior. Além de ferimentos na pele, elas
              podem provocar desconfortos em regiões mais sensíveis, como nariz, boca e olhos</p>
        </ul>
           
                    
        </figcaption>
      

        
        <h3>
        
          <a
            id="tribute-link"
            href="https://www.petz.com.br/blog/plantas/como-plantar-pimenta-de-cheiro/#:~:text=Para%20ter%20sucesso%20no%20cultivo,entre%204%2C5%20e%208"
            target="_blank"
            >post adaptado, clique para ver o original</a
          >.
        </h3>
      </section>
    </main>
  </body>
</html>
