<!DOCTYPE html>
<html>
  <head>
    <title>BISU</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="icon" type="image/png" href="../assets/images/bisuicon.png"/>
  </head>
  <body>
    <main id="main">
      <h1 id="title">Receita de sabão caseiro com óleo de cozinha usado</h1><br>
      <ul><br><br>
        
        <img
        id="surde"
        src="../assets/images/sabão.jpg"
        alt="composteira"
      >
   
      
      </ul>
      <figure id="img-div">
       
        <ul>
        <figcaption id="">
          <strong>Ingredientes da Receita de sabão caseiro com óleo de cozinha usado:</strong>
       
          <p>
            <li>1 copo de sabão em pó</li>
            <li>1 detergente de limão</li>
            <li>5 litros de óleo usado limpo</li>
            <li>1 quilo de soda cáustica em escamas</li>
            <li>Um litro e meio de água fervente</li>
            <li>1 pedaço de madeira para mexer</li>
            
         
            
            
            
          
        <strong>Como limpar o óleo:</strong>
        Com ajuda de um balde grande, coloque um pano na boca e amarre bem o pano,
vai colocando devagar o óleo até acabar com todo ele, e pronto e sai do outro lado
limpinho e sem sujeira.<br><br>

<strong>Modo de preparo do Receita de sabão caseiro com óleo de cozinha usado:</strong>
Então, no balde grande, jogue a soda, jogue 1 litro de água, e em um outro balde
pequeno jogue o são em pó e 500 ml de água e misture.
Em seguida, no balde grande mexa bem, para não ficar nenhuma escama de soda,
até dissolver bem feito isso
Por fim, adicione o óleo, e mexa bem por mais ou menos 40 minutos sem parar.
Após 40 minutos adicione 1 litro de detergente e o sabão em pó que estava no
balde pequeno.<br><br>

<strong>Como saber o ponto do sabão:</strong>
Quando você mexe com a madeira que você está usando para mexer ele fica
uma pasta cremosa igual a um creme?<br><br>

<strong>Recipiente:</strong> Com a mistura pronta, você vai colocar ele para endurecer, coloque em uma
forma quadrada na qual cabe tudo coloque um plástico filme para ficar mais
fácil tirar depois, vire toda a massa dentro.
Deixe descansar por 5 horas, e não deixe endurecer muito, porque você
precisa cortar, se deixar para cortar depois ele endurece muito e fica difícil o
corte.

          </p>       
        </figcaption>
      <ul><p>


      </p></ul>

        
        <h3>
        
          <a
            id="tribute-link"
            href="https://www.aarquiteta.com.br/blog/receita-de-sabao-caseiro-com-oleo-de-cozinha-usado/"
            target="_blank"
            >post adaptado, clique para ver o original</a
          >.
        </h3>
      </section>
    </main>
  </body>
</html>
