<!DOCTYPE html>
<html>
  <head>
    <title>BISU</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="icon" type="image/png" href="../assets/images/bisuicon.png"/>
  </head>
  <body>
    <main id="main">
      <img class="logomaior" src="../assets/images/BISU.png">
      <h1 id="title">Como plantar tomate orgânico em casa</h1><br>
      <ul>O tomate é um alimento típico do Continente Americano, tendo como origem a
        região atual do México e espalhando-se pelo resto do continente com o passar do
        tempo. Após se consolidar como um alimento comum para todas as tribos, despertou o
        interesse dos colonizadores e então foi levado para a Europa no século XVI..
        <img
        id="surde"
        src="../assets/images/tomate imagem 1.jpg"
        alt="composteira"
      ></ul>
        

        <ul>Hoje, o tomate que é adquirido em mercados convencionais possui pouco menos da
          metade dos nutrientes presentes em um tomate de 30 anos atrás, isso se dá pelos
          métodos de agricultura de massa e pelo uso exacerbado de agrotóxicos e insumos
          agrícolas.
          </ul>
      
       
        <ul>
        <figcaption id="">
         <p><strong>Espaço:</strong>
          Os tomates podem ser plantados em pequenos vasos e canteiros, não
          necessitando de grandes áreas para que a planta se desenvolva com saúde e
          vigor. No caso de plantação em pequenas hortas, é possível produzir tomates
          maiores e em grandes quantidades, mas para isso é preciso estar atento a
          algumas orientações básicas de como plantar tomate orgânico. </p>
        <p><strong>Clima:</strong>
          O tomate é um alimento com origem em áreas quentes, portanto não suporta
          temperaturas muito frias. A temperatura ideal para cultivar o tomate é entre 20°C a 26°C,
          a partir dos 15°C já é possível cultivar tomateiros e obter belos frutos e a temperatura
          máxima não deve ultrapassar dos 35°C. Em regiões que não atendem esses
          requisitos térmicos o tomate pode ser cultivado em estufas. No caso do produtor
          urbano, é possível utilizar pequenos vasos, mantê-los na região interna de suas casas e
          até mesmo construir pequenas estufas, para que o mal tempo não aflija a planta e nem
          prejudiquem seu desenvolvimento.</p>
          <p><strong>Luminosidade:</strong>
            Com relação à incidência de luz, o tomateiro requer um pouco mais de atenção. É preciso
            que a planta seja exposta à alta luminosidade e receba luz solar de maneira direta
            por no mínimo seis horas todos os dias.<br>
         
          <img
        id="surde"
        src="../assets/images/tomate imagem 2.jpg"
        alt="composteira">

        <p><strong>Solo:</strong>
          Para plantações em larga escala, recomenda-se cuidar do solo pelo menos cinco
meses antes da implantação da cultura e que estas áreas não tenham recebido
plantas da família Solanaceae, como batata, jiló, pimentas, pimentão e berinjela. O solo
ideal para plantar tomates deve possuir pH entre 5,5 a 7, com boa drenagem. A
camada superficial do solo deve estar sempre bem irrigada e não deve ficar
encharcado para evitar a proliferação de doenças e demais pragas. Um solo fértil
faz toda a diferença no desenvolvimento da planta.<br><br>


<strong>Irrigação:</strong> tomateiros devem estar sempre bem irrigados, no entanto a irrigação em
demasia prejudica o desenvolvimento da planta. A irrigação programada pode ser
uma boa alternativa para quem não consegue monitorar a plantação em tempo
integral. Como o tomateiro ficará sempre exposto à luz solar, a taxa de evaporação do
solo e de transpiração da água é alta e o tomateiro exige irrigação constante.<br><br>

<strong>Plantio:</strong> hora de plantar os tomates é preciso muita atenção por parte do produtor. É
recomendado realizar pequenas mudas do tomateiro antes de colocá-lo no solo. Em uma
sementeira, coloque de duas a cinco sementes em cada buraco, com cerca de 1cm de
profundidade. Caso opte por tomates menores ou do tipo anão, faça o plantio diretamente
no vaso ou na jardineira escolhida, nessa situação não há necessidade de transplantio.<br><br>

<strong>Transplante de muda:</strong> mudas estarão prontas para o transplante quando estiverem com
aproximadamente 4 folhas consolidadas e após o fortalecimento dos pequenos
tomateiros é necessário transplantar as mudas. O espaçamento irá variar de acordo com
a variedade de tomate, sendo que o espaçamento mínimo recomendado entre cada planta
é de 50 cm, podendo chegar até 1,6 m. No caso de plantas anãs ou de tomate cereja o
espaçamento de 30 cm é suficiente.<br><br>

<strong>Tratos culturais:</strong>É possível que conforme os tomateiros crescem suas folhagens fiquem irregulares e as
plantas comecem a perder seu vigor. Nesse caso, utiliza-se a técnica de
Tutoramento, onde estacas são colocadas para que a planta tenha uma orientação de
crescimento. Com isso, basta podar os galhos que estiverem atrapalhando o
desenvolvimento e liberar espaço para que ramos novos e saudáveis cresçam no lugar.<br><br>

<strong>Colheita:</strong> período de colheita irá variar de acordo com o tipo de tomate plantado e com sua
forma de desenvolvimento. Tomates com crescimento regular do tipo determinado,
que crescem em moitas e dão frutos em menos tempo, poderão ser colhidos entre
7 e 8 semanas. Já os tomates maiores, com crescimento do tipo indeterminado,
podem demorar entre 10 e 16 semanas para amadurecerem. A colheita dependerá do
destino do tomate. Caso o tomate seja revendido para regiões próximas, é
importante colhê-lo já maduro, com uma quantidade maior de nutrientes. Mas caso o
tomate precise percorrer longas distâncias, recomenda-se colher o tomate no começo
do amadurecimento para que ele não estrague até chegar ao consumidor final
        </p>
        
      </p>
    </ul> 
             
       
        
       
        <h3>
        
          <a
            id="tribute-link"
            href="https://ciclovivo.com.br/mao-na-massa/horta/como-plantar-tomate-organico-em-casa/#:~:text=O%20solo%20ideal%20para%20plantar,diferen%C3%A7a%20no%20desenvolvimento%20da%20planta"
            target="_blank"
            >post adaptado, clique para ver o original</a
          >.
        </h3>
      </section>
    </main>
    <a href="../index.html" class="back-button">Voltar</a>
  </body>
</html>
